.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section .lady-image {
    background-image: url(Sounddeck2.png);
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}
@media (max-width: 900px) {
    .home-main-section .img-wrapper {
        display: none;
    }
    .home-main-section {
        justify-content: center;
    }
}
.home-page-circle-1{
    position: absolute;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    background-color: rgb(245, 8, 8, .1);
    bottom: 0vh;
    left: 1vw;
    z-index: -1;

}
.home-page-circle-2{
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgb(245, 8, 8, .1);
    top: 15vh;
    left: 0;
    z-index: -1;

}
.home-page-circle-3{
    position: absolute;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background-color: rgb(38, 70, 184, .1);
    top: 20vh;
    left: 45vw;
    z-index: -1;

}
.home-page-circle-4{
    position: absolute;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color: rgb(38, 70, 184, .1);
    bottom: 17vh;
    left: 45vw;
    z-index: -1;

}
.home-page-circle-5{
    position: absolute;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color: rgb(38, 70, 184, .1);
    bottom: 1vh;
    left: 26vw;
    z-index: -1;

}
.home-page-circle-6{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-color: rgb(245, 8, 8, .1);
    bottom: 2vh;
    left: 57vw;
    z-index: -1;

}
.home-page-circle-7{
    position: absolute;
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background-color: rgb(245, 8, 8, .1);
    bottom: 0vh;
    left: 90vw;
    z-index: -1;

}
.home-page-circle-8{
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(38, 70, 184, .1);
    bottom: 2vh;
    left: 77vw;
    z-index: -1;
}
.home-page-circle-9{
    position: absolute;
    width: 19vw;
    height: 15vw;
    border-radius: 50%;
    background-color:  rgb(38, 70, 184, .1);
    top: 11vh;
    left: 85vw;
    z-index: -1;

}